@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{background-color: #EE1D6A;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d50057' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    font-family: Poppins, sans-serif;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1, h2{
            color: #fff9;
            text-align: center;
            margin: 0;
        }
        h1{
            font-size: 4rem;
        }
        h2{
            font-size: 1.4rem;
            font-weight: 300;
        }
        h3{
            border-radius: 20px;
            background-color: #0009;
            color: #9cb8b2;
            padding: 2px 12px;
            font-size: 1rem;
            font-weight: 500;
            justify-content: center;
        }
        img{
            border-radius: 50%;
            width: 160px;
            border: 10px solid #0009;
        }
    }
    menu{
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1rem;
        a:is(:Link, :visited){
            background-color: #0009;
            border-radius: 50px;
            display: flex;
            gap: 1rem;
            color: #fff9;
            padding: 1rem;
            text-decoration: none;
            width: 280px;
            transition: all .5s ease-in;
            i{
                background-color: #ee22ee;
                font-style: normal;
                width: 34px;
                height: 34px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .5s ease-in;
            }
        }

        a:hover{
            transform: translate(10px);
            background-color: #000;
        }

        a:hover i{
            transform: scale(1.2) rotate(360deg);
        }
    }
}


