extends inc/layout.pug

block title
    title Inheritance
block content
    header
        h1 Inheritance
    section
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus consequuntur quos, atque similique ex dolores repellendus culpa dicta distinctio quo!