@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{background-color: #FF8E21;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23FF8E21' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23e0781f' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23c1631b' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23a25017' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23843d12' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23662C0C' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: Poppins, sans-serif;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    header{
        h1, h2{
            color: #fff9;
            text-align: center;
            margin: 0;
        }
        h1{
            font-size: 4rem;
        }
        h2{
            font-size: 1.4rem;
            font-weight: 300;
        }
    }
    menu{
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1rem;
        a:is(:Link, :visited){
            background-color: #0009;
            border-radius: 50px;
            display: flex;
            gap: 1rem;
            color: #fff9;
            padding: 1rem;
            text-decoration: none;
            width: 280px;
            transition: all .5s ease-in;
            i{
                background-color: #ee5522;
                font-style: normal;
                width: 34px;
                height: 34px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .5s ease-in;
            }
        }

        a:hover{
            transform: translate(10px);
            background-color: #000;
        }

        a:hover i{
            transform: scale(1.2) rotate(360deg);
        }
    }
}


